# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# html files
*.html

# cache
scrape_dang_git_cache/*

# Data Folder (often too big for Github)
data/*



# scripts for playful exploratory data analysis
eda??.R
